
.hidden {
  display: none;
}

.disable-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.831);
  z-index: 2;
}

.img-pop {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  z-index: 5;
  border-radius: 30px;
  background: radial-gradient(circle at 10% 20%, rgb(255, 246, 236) 59.5%, rgba(100, 46, 122, 0.23) 100.2%);
}

.pop-in {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.close {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 7;
}

.img > img {
  width: 260px;
  margin: 10px;
}

.info > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.i-info {
  padding: 10px;
}

.i-info > a {
  text-decoration: none;
  color: #000;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
}

.list-comment {
  list-style: none;
  width: 280px;
}

.list-comment > li {
  padding: 5px;
}

.comment-form,
.f-comment {
  display: flex;
  flex-direction: column;
}

.comment-form {
  align-items: center;
}

.f-comment {
  align-items: flex-start;
}

.i-cm {
  margin: 5px;
  padding: 10px;
}

.btn-cm {
  margin: 5px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 5px;
  background-color: brown;
  color: #fff;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.btn-cm:hover {
  background-color: aliceblue;
  color: rgba(6, 3, 82, 0.831);
  transform: scale(1.1, 1.1);
}

.field {
  margin-bottom: 10px;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.697);
  border: 0.5px solid brown;
  border-radius: 10px;
  width: 280px;
}
form {
  width: 280px;
}

@media only screen and (min-width: 700px) {
  
.img-pop {
  background-color: #fff;
  margin: 10px;
  padding: 40px;
  position: fixed;
  left: 0;
  right: 0;
  width: 85%;
  max-width: 1024px;
  overflow-y: scroll;
  height: 70%;
  z-index: 5;
  border-radius: 30px;
  background: radial-gradient(circle at 10% 20%, rgb(255, 246, 236) 59.5%, rgba(100, 46, 122, 0.23) 100.2%);
}
.img > img {
  width: 600px;
  margin: 10px;
}
}

