

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%);
  font-family: 'Work Sans', sans-serif;

}

nav > ul {
  display: flex;
  list-style: none;
  font-size: 10px;
  
}

.i-menu {
  margin: 5px 10px;
  font-size: 10px;
}

.i-menu > a {
  text-decoration: none;
  font-weight: 700;
  color: white;
  transition: 0.5s;
  font-size: 14px;
}

.i-menu > a:hover {
  transform: scale(1.1, 1.1);
  color:black;
}

footer {
  margin: 50px auto;
  padding: 20px;
  bottom: 5px;
  font-family: 'Dancing Script', cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 35px;
  margin-top: 7px;
  margin-left: 20px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.main-title {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 50px;
}

.main-menu {
  display: flex;
  flex-direction: row;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  
}

.photo-card {
  margin-top: 100px;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  color: white;
  border-radius: 10px;
  width: 300px;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.photo {
  width: 280px;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

.photo:hover {
  filter: grayscale(100%);
  border: 1px solid white;
}

.img-footer {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 40px;
}

.like-btn-container {
  border: none;
  font-size: 35px;
  cursor: pointer;
  background: none;
  color: rgb(214, 214, 214);
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.like-btn:hover {
  color: rgba(194, 37, 37, 0.818);
}

.likes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.likes-counter {
  margin: 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.comments-btn {
  
  width: 200px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  background:none; 
  color: bisque;
  border: none;
  border-radius: 3px;
  border: 2px solid bisque;
}

.comments-btn:hover {
  border: 1px solid bisque;
  color: rgb(3, 3, 43);
  background-color: bisque;
}

.reserve-btn {
  font-family: 'Work Sans', sans-serif;
  background: none;
  width: 200px;
  border: 1px solid bisque;
  height: 30px;
  color: bisque;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.reserve-btn:hover {
  background-color: antiquewhite;
  color: grey;
  border: none;
}

.photo-author {
  font-size: 25px;
}

.counter-container {
  width: 200px;
  height: 60px;
  border: 0.5px solid rgb(161, 161, 161);
  display: flex;
  gap: 5px;
  font-family: 'Work Sans', sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: #c3cfe26a;
}

.photographies-txt {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  .title-container {
    margin-top: 60px;
    display: flex;
    gap: 100px;
    align-items: center;
  }

  .cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    gap: 10px;
  }

  .photo-card {
    margin: 0;
    width: 300px;
  }

  .photo {
    width: 280px;
  }

  .photo-author {
    font-size: 18px;
  }

  .img-footer {
    font-size: 20px;
  }

  @media only screen and (min-width: 1000px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(15, 1fr);
      gap: 30px;
    }

    .photo-card {
      width: 360px;
    }

    .photo {
      width: 320px;
    }

    .photo-author {
      font-size: 20px;
    }

    .main-title {
      font-size: 80px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .cards {
      margin-top: 100px;
      gap: 30px;
    }

    .photo-card {
      width: 400px;
    }

    .photo {
      width: 340px;
    }

    .photo-author {
      font-size: 25px;
    }
  }
}
